/* Style from index only */

:root {
    --amarillo: #fdc300;
}

.scroll {
    max-height: 250px;
    overflow-y: auto;
}

.lang-menu {
    display: flex;
}

.lang-menu li {
    list-style: none;
    padding-right: 1rem;
}

.lang-menu li:last-of-type {
    padding-right: 0;
}

p,
ul,
a {
    margin: 0;
}

.title {
    font-weight: 700;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: var(--amarillo);
    transition: ease .3s;
}

a:hover {
    color: #ffffff;
}

.name {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--amarillo);
}

.selected {
    border: solid 1px var(--amarillo);
    border-radius: .25rem;
    padding: .1rem;
}

.simple-item {
    background-color: var(--amarillo);
    font-weight: 700;
    border-radius: .25rem;
    padding: .2rem;
}

.skill-item p {
    font-style: italic;
    color: #000000;
    font-size: .8rem;
}

footer {
    width: 100%;
    position: sticky;
    bottom: 0;
}

blockquote {
    color: var(--amarillo);
    font-size: 1.5rem;
    text-align: center;
}

.ng-progress {
    background-color: #dd0031 !important;
}

.rb-progress {
    background-color: #cc0000 !important;
}

.lv-progress {
    background-color: #ff2d20 !important;
}