/* Style from index only */

:root {
    --main: #fdc300;
}

.scroll {
    height: 19.5rem;
    overflow-y: auto;
}

.lang-menu {
    display: flex;
}

.lang-menu li {
    list-style: none;
    padding-right: 1rem;
}

.lang-menu li:last-of-type {
    padding-right: 0;
}

p,
ul,
a {
    margin: 0;
}

.title {
    font-weight: 700;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: var(--main);
    transition: ease .3s;
}

.title-main {
    color: var(--main);
    font-weight: 700;
    font-size: 1.3rem;
    text-shadow: #000000 1px 1px;
}

a:hover {
    color: #3e3e3e;
}

.name {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--main);
}

.selected {
    border: solid 1px var(--main);
    border-radius: .25rem;
    padding: .1rem;
}

.simple-item {
    background-color: var(--main);
    font-weight: 700;
    border-radius: .25rem;
    padding: .2rem;
}

.skill-item p {
    font-style: italic;
    color: #000000;
    font-size: .8rem;
}

@media(max-width: 768px) {
    footer {
        position: fixed;
        bottom: 0;
    }
    .main-content {
        margin-bottom: 110px;
    }
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

blockquote {
    color: var(--main);
    font-size: 1.5rem;
    text-align: center;
}

.pic-cont {
    margin: 0 auto;
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.img-about {
    width: 100%;
}

.ng-progress {
    background-color: #dd0031 !important;
}

.rb-progress {
    background-color: #cc0000 !important;
}

.lv-progress {
    background-color: #ff2d20 !important;
}

.mdb-progress {
    background-color: #10ab50 !important;
}

.git-progress {
    background-color: #000000 !important;
}

.aws-progress {
    background-color: #ff9900 !important;
}

.pg-progress {
    background-color: #326690 !important;
}

.text-rb {
    background-color: #cc0000;
    color: #ffffff;
    padding: .1rem;
    border-radius: .3rem;
}

.nav-link {
    color: #000000;
}

.nav-link:hover {
    color: var(--main);
}

.gem-list {
    padding: .5rem 1rem;
}

.gem-list>li {
    list-style: none;
    padding: 0;
}

.activities-list>li {
    list-style: circle!important;
}